.top {
    text-align: center;
    width: fit-content;
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px;
    color: azure;
}

body {
    background-image: url(../img/daniel-leone-g30P1zcOzXo-unsplash.jpg);
    background-size: cover;
}

.blog-grid.col-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.blog-unit {
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    margin: 0 10px 2em;
    display: inline-block;
    margin-bottom: 2em;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(9, 32, 76, .035);
    background-color: #13293D;
}

.blog-unit a:link, .blog-unit a:visited, .blog-unit a:hover, .blog-unit a:active { 
    text-decoration: none; 
} 



.blog-unit img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}

.blog-content {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}


.blog-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
}

.blog-description {
    margin: 0;
    font-size: 1em;
    color: whitesmoke;
}

@media screen and (min-width: 700px) {
	.col-3 .blog-unit {
		width: calc(30% - 100px);
	}

	.blog-unit{
		margin: 0 20px 2em; 
	}
  
  }
.col-3 .blog-unit:last-child{
	margin-right: 0;
}



