.content {
    font-size: 25px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: fit-content;
    color: #000000;
}

h1 {
    text-align: center;
}

.section {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.faq {
    cursor: pointer;
    text-align: left;
}

.faq.active .answer {
    max-height: 300px;
}

.answer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms ease;
}