.container {
    background-image: url(../img/background_money_plant.jpg);
    background-size: cover;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    backdrop-filter: blur(2px);
}

.input-box {
    max-width: fit-content;
    text-align: center;
    background: radial-gradient(#0D1F22, #35524A);
    border-radius: 10px;
    padding:2%;
    color:white;
}

.input-box a {
    color:white;
}

.input-box input[type="submit"] {
    background-color: #4CAF50; 
    border: none; 
    color: white;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 10px;
}