.top img {
    max-width: 20%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}

.bottom {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
}