.content {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.content img{
    max-width: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}

h1 {
    text-align: center;
}